<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Harvard Art Museums</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row"> 
		<div class="col-md-4">
		    <img src="https://2x4.org/directus/media/thumbnails/1dc9e67e89f0a0bd24b2b8d86b871de3.jpg?w=700&h=5000&c=false" class="img-fluid" style="width:100px"></br>
	 	</div>    
   </div>
